<!-- myapp/templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto Django</title>
</head>
<body>
    <header>
        <h1>Bienvenido a mi proyecto</h1>
        <nav>
            <ul>
                <li><a href="{% url 'add_author' %}">Agregar Autor</a></li>
                <li><a href="{% url 'add_book' %}">Agregar Libro</a></li>
                <li><a href="{% url 'add_publisher' %}">Agregar Editorial</a></li>
                <li><a href="{% url 'search_books' %}">Buscar Libro</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
